@charset "UTF-8";
/* ## CONSTANTS ######################################### */
/* ## MIXINS ######################################## */
/* clearfix */
/* ## FONTS ######################################### */
/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
  font-family: "TeX Gyre Cursor";
  src: url("../fonts/texgyrecursor/texgyrecursor-bold.eot") format("eot"), url("../fonts/texgyrecursor/texgyrecursor-bold.woff") format("woff"), url("../fonts/texgyrecursor/texgyrecursor-bold.ttf") format("truetype"), url("../fonts/texgyrecursor/texgyrecursor-bold.svg#TeX-Gyre-Cursor") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ## BASE ######################################### */
* {
  _: 0 ; -webkit-box-sizing: border-box;
  _: 0 ; -khtml-box-sizing: border-box;
  _: 0 ; -moz-box-sizing: border-box;
  _: 0 ; box-sizing: border-box;
}
html {
  font-size: 12pt;
}
body {
  margin: 0;
  padding: 0;
  background-color: #aaa;
  font-family: "TeX Gyre Cursor", monospace;
  line-height: 1.3;
}
.page {
  width: 210mm;
  min-height: 297mm;
  padding: 0;
  margin: 1cm auto;
  background: white;
}
.subpage {
  padding: 0;
  height: 297mm;
}
nav {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
nav fieldset {
  border-radius: 5px;
  background: orange;
  box-shadow: 1px 1px 5px #333;
  border: none;
}
nav fieldset legend {
  text-align: center;
}
nav fieldset label {
  display: block;
}
nav fieldset input[type="number"] {
  width: 50px;
}
/* ## CONTENT ######################################### */
.preview {
  background: transparent url(../images/preview.png) no-repeat;
  -webkit-background-size: 100% auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  padding: 0;
  margin: 0;
}
table tr td {
  padding: 0;
  margin: 0;
  vertical-align: top;
}
table tr td .text_fields {
  position: relative;
  top: 0;
  left: 0;
}
table tr .placeable {
  position: absolute;
}
table tr td.post_address.preview {
  background: transparent url(../images/post_address.png) no-repeat;
  background-size: 100% 100%;
}
table tr td.post_address {
  width: 210mm;
  height: 101mm;
  font-size: 0.7rem;
  line-height: 0;
  position: relative;
}
table tr td.post_address ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.2em;
}
table tr td.post_address ul.sender_address_1 {
  top: 31mm;
  left: 8mm;
}
table tr td.post_address ul.recipient_address_1 {
  top: 77mm;
  left: 8mm;
}
table tr td.post_address ul.recipient_address_2 {
  top: 30mm;
  left: 110mm;
  line-height: 1.8em;
  font-size: 1.5rem;
}
table tr td.post_address .bank_amount_number_1 {
  top: 48.5mm;
  left: 8mm;
}
table tr td.post_address .bank_amount_number_as_text {
  top: 57mm;
  left: 8mm;
}
table tr td.post_order.preview {
  background: transparent url(../images/post_order.png) no-repeat;
  background-size: 100% 100%;
}
table tr td.post_order {
  font-size: 0.7rem;
  line-height: 0;
  width: 210mm;
  height: 101mm;
  position: relative;
}
table tr td.post_order .sender_name_1 {
  top: 54mm;
  left: 8mm;
}
table tr td.post_order .sender_street_1 {
  top: 59mm;
  left: 8mm;
}
table tr td.post_order .sender_city_1 {
  top: 64mm;
  left: 8mm;
}
table tr td.post_order .recipient_name_1 {
  top: 84mm;
  left: 8mm;
}
table tr td.post_order .recipient_street_1 {
  top: 89mm;
  left: 8mm;
}
table tr td.post_order .recipient_city_1 {
  top: 94mm;
  left: 8mm;
}
table tr td.post_order .bank_purpose_of_payment_1 {
  top: 31mm;
  left: 8mm;
}
table tr td.post_order .bank_account_number_1 {
  top: 69.5mm;
  left: 15mm;
}
table tr td.post_order .bank_variable_symbol_1 {
  top: 74mm;
  left: 15mm;
}
table tr td.post_order .bank_specific_symbol_1 {
  top: 78mm;
  left: 15mm;
}
table tr td.post_order .bank_amount_number_1 {
  top: 37mm;
  left: 8mm;
}
table tr td.post_order .bank_amount_number_penny_1 {
  top: 37mm;
  left: 53mm;
}
table tr td.post_order .bank_amount_number_as_text {
  top: 43.5mm;
  left: 8mm;
}
table tr td.post_order .sender_name_2 {
  top: 38mm;
  left: 65mm;
}
table tr td.post_order .sender_street_2 {
  top: 43.5mm;
  left: 65mm;
}
table tr td.post_order .sender_city_2 {
  top: 49mm;
  left: 65mm;
}
table tr td.post_order .grid {
  letter-spacing: 9.7px;
  font-size: 15px;
}
table tr td.post_order .recipient_firstname_2 {
  left: 123.6mm;
  top: 49mm;
}
table tr td.post_order .recipient_lastname_2 {
  left: 123.6mm;
  top: 56mm;
}
table tr td.post_order .recipient_street_2 {
  left: 123.6mm;
  top: 62.5mm;
}
table tr td.post_order .recipient_city_2 {
  left: 123.6mm;
  top: 68.7mm;
}
table tr td.post_order .recipient_zip_2 {
  left: 123.6mm;
  top: 76mm;
}
table tr td.post_order .bank_amount_number_2 {
  left: 123.6mm;
  top: 10mm;
}
table tr td.post_order .bank_amount_number_penny_2 {
  left: 163.4mm;
  top: 10mm;
}
table tr td.post_order .bank_account_number_prefix_2 {
  left: 123.6mm;
  top: 18.5mm;
}
table tr td.post_order .bank_account_number_account_2 {
  left: 153.5mm;
  top: 18.5mm;
}
table tr td.post_order .bank_account_number_bank_code_2 {
  left: 123.6mm;
  top: 27mm;
}
table tr td.post_order .bank_variable_symbol_2 {
  left: 153.5mm;
  top: 27mm;
}
table tr td.post_order .bank_constant_symbol_2 {
  left: 123.6mm;
  top: 35.3mm;
}
table tr td.post_order .bank_specific_symbol_2 {
  left: 153.5mm;
  top: 35.3mm;
}
/* ## PRINT ######################################### */
@media print {
  @page {
    size: A4 portrait;
    margin: 0;
    margin-bottom: -1mm;
    
    /* Chrome hack */
  }
  .page {
    margin: 0;
    page-break-after: always;
  }
  nav {
    display: none;
  }
}
